body {
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

/* define color */
:root {
    --bar-color: #161616;
    --primary-color: #f49d37;
    --primary-text-color: #191716;
    --secondary-text-color: #161616;
    --text-color: #222;
    --bright-text-color: #f8f9fa;
    --custom-card-bg: #fafafa;
    --custom-card-bg-hover: #f0f4f8;
}