

.navbar-title {
    font-weight: 600;
    color: var(--bright-text-color);
    font-size: 36px;
    line-height: 1.1;
    font-family: "titular";
}

.six-navbar {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 150px;
}

.nav-link-custom {
    color: var(--bright-text-color) !important;
    font-weight: 450 !important;
    padding: 0.5rem 1rem !important;
    transition: color 0.3s ease !important;
    font-size: 18px !important;
    font-family: 'Inter', 'Helvetica Neue', sans-serif !important;
}

.nav-link-custom:hover {
    color: var(--primary-color) !important;
    text-decoration: none;
}

.navbar {
    background-color: var(--bar-color);
    border-bottom: 0px solid #eee;
}
/* ThreeColumn.css */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 100%;
  height: 175px;
  margin: 1em auto;
}

.img {
  width: 100%;
  height: 175px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

/* Optional: stack on small screens */
@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }
}