body {
    background-color: var(--custom-card-bg);
    color: #222;
    font-size: 18px !important; 
    line-height: 1.5;
}

.custom-heading {
    color: #222;
    font-weight: 600;
    font-size: 22px !important;
    border-left: 4px solid var(--primary-color);
    padding-left: 0.6rem;
    margin-top: 24px; 
    margin-bottom: 24px;
}

.faculty-link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.student-name {
    text-decoration: none;
    font-weight: 600;
    margin: 0;
}

.student-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    text-decoration: underline;
}

.person-card {
    border-radius: 5rem;
    border:1px solid #e5e7eb;
    box-shadow: none;
    background-color: var(--custom-card-bg);
    transition: background-color 0.2s ease;
}

.person-card:hover {
    background-color: var(--custom-card-hover-bg);
    transition: color 0.3s ease;
}

.person-card .card-img-top {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    height: 160px;
    object-fit: cover;
}

.faculty-card {
    border-radius: 1rem;
    background-color: var(--custom-card-bg);
    box-shadow: none;
}

.card-title {
    font-weight: 500;
    font-size: 17px;
    color: #111;
}

.card-text {
    font-size: 14px;
    color: #666;
}
