.publication-card {
    border-radius: 30px;
    box-shadow: none;
    background-color: #ffffff;
    transition: transform 0.2s ease;
}

.publication-card:hover {
    background-color: #f0f4f8;
    transition: color 0.3s ease;
}

.custom-heading {
    color: #222;
    font-weight: 600;
    font-size: 25px !important;
    border-left: 4px solid #00bcd4;
    padding-left: 0.6rem;
    margin-top: 24px; 
    margin-bottom: 24px;
}

.pub-title a {
    color: #00bcd4;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

.pub-title {
    color: #00bcd4;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

.pub-title a:hover {
    text-decoration: underline;
}

.pub-authors {
    font-size: 16px;
    line-height: 1.4;
}

.pub-venue {
    font-size: 16px;
    line-height: 1.4;
}

.pub-links .btn {
    font-size: 12px;
    border-radius: 5px;
}

.custom-badge {
    background: linear-gradient(90deg, #00bcd4, #2196f3); 
    color: white;
    padding: 0.3em 1em;
    font-size: 10px;
    font-weight: 500;
    border-radius: 10px;
    text-transform: uppercase;
}